:root {
    --main-green: #21C531;
    --background: #f8f9fa;
    --font-black444: #444444;
    --font-black222: #222222;
    --section-margin-top: 50px;
}

/* 헤더시작 */
header,
.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px;
    background: var(--background);
}

.header_menu {
    gap: 16px;
}

.header_menu>li {
    font-size: 14px;
    list-style: none;
}

.lang_select {
    border: none;
    outline: none;
    background: var(--background);
    padding: 8px;
    width: 100px;
    color: var(--font-black444);
}

.lang_select:hover {
    text-decoration: underline;
}

.header_menu>li>a {
    text-decoration: none;
    padding: 14px 24px;
}

.header_menu>li:nth-child(2)>a {
    color: var(--font-black222);
}

.header_menu>li:nth-child(2)>a:hover {
    text-decoration: underline;
}

.header_menu>li:nth-child(3)>a {
    color: #ffffff;
    background-color: var(--main-green);
}

.header_menu>li:nth-child(3)>a:hover,
.button_box > button:first-child > a:hover {
    box-shadow: 0 4px 4px rgba(33, 197, 49, 0.3);
}

/* 헤더 끗! */

/* main_container시작 */
.main_container {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}
.phone_img {
    background: url(/day6/image/거북이.gif);
    width: 540px;
    height: 695px;
    background-size: 540px auto;
}

.main_text_box > h2 {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 16px;
    color: var(--font-black222);
}

.main_text_box > p {
    color: var(--font-black444);
}

.button_box {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 20px;
}

.button_box > button {
    border: none;
    /* border-radius: 4px; */
    padding: 0;
}

.button_box > button > a {
    width: 100%;
    display: inline-block;
    padding: 20px 0;
    border-radius: 3px;
    color: #ffffff;
    text-decoration: none;
    background: var(--main-green);
    font-size: 16px;
}

.button_box > button:last-child > a {
    background-color: #fff;
    color: var(--font-black222);
    border: 1px solid #ababab;
    box-sizing: border-box;
}

.link_text_box {
    margin-top: 32px;
}

.link_text_box > p {
    margin-top: 16px;
    font-size: 13px;
}

.link_text_box > p > a {
    color: var(--main-green);
    font-weight: 700;
}

.bg_img_container {
    background-image: url(../image/backgroundimg.jpg);
    height: 540px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    background-size: cover;
    gap: 32px;
}

.bg_img_container > h2 {
    font-size: 42px;
    font-weight: 600;
}

.bg_img_container > p {
    line-height: 1.5;
}

/* main_container 끄ㅜㅌ */

/* about_container 시작작작 */

.about_container {
    margin-top: var(--section-margin-top) 0;
    display: flex;
    justify-content: center;
}

.about_container > ul {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.about_list > figure {
    width: 300px;
    height: 160px;
    background-size: cover;
}

.list_img_1 {
    background: url(../image/거북이북이.jpg);
}
.list_img_2 {
    background: url(../image/거북이북이.jpg);
}
.list_img_3 {
    background: url(../image/거북이북이.jpg);
}

.about_list > h2 {
    font-size: 24px;
    margin: 16px 0;
}

.about_list > p {
    font-size: 14px;
    margin: 16px 0;
    line-height: 20px;
}

.band_recommend {
    background: var(--background);
    padding: 50px 0;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}

.recommend_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    font-size: 24px;
}

.recommend_ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recommend_list {
    width: 500px;
    margin: 12px 0;
    display: flex;
    gap: 12px;
}

.recommend_list > figure {
    background: url(../image/거북이북이.jpg);
    width: 93px;
    height: 93px;
    background-size: cover;
    border-radius: 8px;
}

.recommend_text_box > h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.recommend_text_box > p {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
    color: #767676;
}

.recommend_text_box > div > span {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px 0;
    color: #a5a5a5;
}

.recommend_text_box > button {
    padding: 2px 8px;
    border: 1px solid #e5e5ec;
    background-color: #ffffff;
    border-radius: 999px;
    margin-top: 8px;
    color: #767676;
}

.recommend_text_box > button > span {
    color: var(--font-black222);
    font-weight: 600;
}

/* 끝 */

/* 시작 */

.download {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
}

.download_left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.download_left > figure {
    background-image: url(../image/거북이북이.jpg);
    width: 70px;
    height: 70px;
    background-size: cover;
}

.download_left > div > h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

.download_store > a {
    text-decoration: none;
    background-image: url(https://ssl.pstatic.net/cmstatic/webclient/band-we…s/spr_svg/new/button-android.svg?ts=1751422996971);

}

/* 끝 */

/* 시자 */

footer {
    background: #2A3038;
    padding: 32px;
}

footer > ul {
    display: flex;
    font-size: 14px;
    width: 1000px;
    flex-wrap: wrap;
    margin: 0 auto;
}

footer > ul a {
    color: #f9f9f9;
    text-decoration: none;
}

footer > p {
    color: #f9f9f9;
    width: 1000px;
    margin: 32px auto 0 auto;
}